body {
    margin: 5px;
}
.pagewrapper .headerwrap {
    display: flex;
    border-bottom: 1px #ded6d6 solid;
    background-color: #FFF;
}


.header {
    flex-grow: 1;
    padding: 0px 20px;
    position: relative;
}



.header .header-bar .logo a{
    font-family: Arial, sans-serif;
    font-size: 2em;
    color: #111;
    text-decoration: none;
}

.header .header-bar .sologan {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #9e9898;
    margin-left: 5px;
    padding-bottom: 10px;
}
.header .header-menu {
    position: absolute;
    right: 25px;
    top: 0px;
    color: #111;
    padding-left: 50px;
}

.content {
    padding-top: 15px;
    padding-left:0px ;
}

.has-content a{ 
    text-decoration: none;
    color:#111;
}

.has-content a:hover {
    color: red;
}

.menu {
    position: relative;
    top: -10px;
   
}

.has-content {
    position: absolute;
}

.has-content:hover .content{
    display: block;
}
.content {
    display: none;
    position: absolute;
    left: -128px;
    top: -20px;
    background-color: #FFF;
    
}

.content li{
    font-family: Arial,sans-serif;
    font-size: 16px;
    padding: 8px;
    
}
.menu li{
    list-style: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
  
.sticky + .body-content {
    padding-top: 102px;
}


.body-content img{
    max-width:100% ;
    margin: 0 auto; 
    display: block; 
}