.header-wrapper {
    display: block;
    padding-bottom: 20px;
    border-bottom: #EEE 1px solid;
}

.header {
    display: flex;
    flex-direction: row;
    margin: 0px 5px;
}

.header-menu {
    flex-grow: 1;   
    position: relative;
}

.menu .nav-menu {
    position: absolute;
    top: 0px;
    right: 5px;
    list-style-type: none;
}
    
.header-wrapper a {
    text-decoration: none;
    color: #7f7883;
}

.header-wrapper a:hover {
    color: red;
}



    .header {
        display: flex;
        flex-direction: row;
    }
    
    .header li {
        list-style-type:none; 
    }
    
    .header .header-bar .logo a { 
        font-size: 40px;
    }
    
    .header-bar {
        margin-right: 20px;
    }

    .social-media-icons {
        position: relative;
    }

    .social-media-icons ul {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: -17px;
        left: -20px;
    }

    .social-media-icons li {
        margin: 7px 10px 10px;
    }
    
    .nav-menu {
        position: relative;
    }

    .nav-menu .btn-icon {
        display: none;
    }

    .nav-menu .content {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 30%;
        top: -17px;
    }

    .nav-menu .content li {
        margin: 20px;
        font-size: 25px;
    }

    
@media screen and (max-width: 768px) {
    
    .header-wrapper .header .social-media-icons {
        display: none;
    }

    .header-menu .nav-menu .content {
        display: none;
    }

    .nav-menu .btn-icon {
        display: block;
        float: right;
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .nav-menu:hover .content {
        display: block;
        list-style-type: none; 
        background-color: #EEE;
    }
}


